<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzc.yk.MonitorService.mapper.LoginMapper">

    <select id="test" resultType="User">
        select * from user;
    </select>

    <select id="getUserInfoByAccount" resultType="User">
        select * from user where account = #{account}
    </select>

    <insert id="registeredAccount" parameterType="User">
        insert into user VALUES (#{account},#{username},#{password},#{phone},'')
    </insert>

</mapper>